---
openapi: 3.0.1
info:
  title: ASE23-GREEN
  description: "API documentation for Université de Fribourg (Switzerland) ASE2023 Project - Group Green. All API calls except login and register need an authorization token in the request. Simply add an 'authorization' header within the request. Testing the API documentation directly on SwaggerHub does not work. Use the Swaggerhub Explorer or another program such as Postman to perform the API calls. We are unsure about the cause of this issue. The localhost can be used when the API is running on the local machine, whereas the 'https://soizhiwen.com/api' website can be used to call the API via our hosted server which also enables to ineract with the accompanying interface reachable via 'https://soizhiwen.com'. This server is accessible at the time of writing this, December 2023."
  version: "0.93"
servers:
- url: https://soizhiwen.com/api
- url: http://localhost:8080
paths:
  /greenhouse/:
    get:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      responses:
        "200":
          description: "Retreives the last mesured sensory data for airwuality, CO2, humidity, and temperature with the timestamp from the greenhouse. Needs a User or an Admin authorization token in the 'authorization' header."
  /greenhouse/{measurement_type}/{back_timespan}:
    get:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      - name: measurement_type
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: TEMP
      - name: back_timespan
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: 1d
      responses:
        "200":
          description: "Retreives a range backwards from the current time ('back_timespan') of mesured sensory data of a specific measurement type ('measurement_type') from the greenhouse. Possible measurement types are: 'AIR_QUAL', 'CO2_EQUIV', 'TEMP', 'HUMID'. The timespan can, e.g., be '1d'. Needs a User or an Admin authorization token in the 'authorization' header."
  /register:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/register_body'
            examples:
              example:
                value: "{\r\n    \"name\": \"Admin1\",\r\n    \"email\": \"Admin1@mail.com\",\r\n    \"password\": \"Admin1PW\",\r\n    \"role\": \"Admin\"\r\n}"
      responses:
        "200":
          description: Creates a new Admin. No authorization token needed. The response contains the respective authorization token in the 'authorization' header.
  /login:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/login_body'
            examples:
              example:
                value: "{\r\n    \"email\": \"Admin1@mail.com\",\r\n    \"password\": \"Admin1PW\"\r\n}"
      responses:
        "200":
          description: Logs-in an existing Admin or User. No authorization token needed. The response contains the respective authorization token in the 'authorization' header.
  /users/:
    get:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      responses:
        "200":
          description: Retreives the list of users. Needs a User or an Admin authorization token in the 'authorization' header.
    post:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/users_body'
            examples:
              example:
                value: "{\r\n    \"name\": \"User1\",\r\n    \"email\": \"User1@mail.com\",\r\n    \"password\": \"User1PW\",\r\n    \"role\": \"User\"\r\n}"
      responses:
        "200":
          description: Creates a new user. Needs an Admin authorization token in the 'authorization' header.
  /users/{id}:
    get:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: "1"
      responses:
        "200":
          description: Retreives a user specified by the user id ('id'). Needs a User or an Admin authorization token in the 'authorization' header.
    delete:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: "3"
      responses:
        "200":
          description: Deletes the user specified by the user id ('id'). Needs an Admin authorization token in the 'authorization' header.
    patch:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: "2"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/users_id_body'
            examples:
              example:
                value: "{\r\n    \"name\": \"UpdatedUser1\",\r\n    \"email\": \"UpdatedUser1@mail.com\",\r\n    \"password\": \"UpdatedUser1PW\",\r\n    \"role\": \"User\"\r\n}"
      responses:
        "200":
          description: Patches the user specified by the user id ('id'). Needs an Admin authorization token in the 'authorization' header.
  /plants/:
    get:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      responses:
        "200":
          description: Retreives a list of plants. Needs a User or an Admin authorization token in the 'authorization' header.
    post:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/plants_body'
            examples:
              example:
                value: "{\r\n    \"name\": \"plant01\",\r\n    \"harvest_date\": \"2013-11-03T08:00:00.000Z\",\r\n    \"min_temperature\": \"10\",\r\n    \"max_temperature\": \"25\",\r\n    \"min_humidity\": \"2\",\r\n    \"max_humidity\": \"10\",\r\n    \"min_co2\": \"3\",\r\n    \"max_co2\": \"10\",\r\n    \"min_air_quality\": \"4\",\r\n    \"max_air_quality\": \"10\"\r\n}"
      responses:
        "200":
          description: Creates a new plant. Needs an Admin authorization token in the 'authorization' header.
  /plants/{id}:
    delete:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: "2"
      responses:
        "200":
          description: Deletes the plant specified by the plant id ('id'). Needs an Admin authorization token in the 'authorization' header.
    patch:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: "1"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/plants_id_body'
            examples:
              example:
                value: "{\r\n    \"name\": \"UpdatedPlant01\",\r\n    \"harvest_date\": \"2013-11-03T08:00:00.000Z\",\r\n    \"min_temperature\": \"10\",\r\n    \"max_temperature\": \"25\",\r\n    \"min_humidity\": \"2\",\r\n    \"max_humidity\": \"10\",\r\n    \"min_co2\": \"3\",\r\n    \"max_co2\": \"10\",\r\n    \"min_air_quality\": \"4\",\r\n    \"max_air_quality\": \"10\"\r\n}"
      responses:
        "200":
          description: Patches the plant specified by the plant id ('id'). Needs an Admin authorization token in the 'authorization' header.
  /notifications/:
    get:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      responses:
        "200":
          description: Retreives the list of notifications for the user sccording to the 'authorization' token. Needs a User or an Admin authorization token in the 'authorization' header.
    post:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/notifications_body'
            examples:
              example:
                value: "{\r\n    \"message\": \"A Notification Message\",\r\n    \"timestamp\": \"2013-11-03T08:00:00.000Z\",\r\n    \"plant_id\": 1\r\n}"
      responses:
        "200":
          description: Creates a new notification. Needs a User or an Admin authorization token in the 'authorization' header.
  /notifications/{id}:
    get:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: "1"
      responses:
        "200":
          description: Retreives the notification specified by its id ('id'). Needs a User or an Admin authorization token in the 'authorization' header.
    delete:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: "4"
      responses:
        "200":
          description: Deletes the notification specified by the notification id ('id). Needs a User or an Admin authorization token in the 'authorization' header.
    patch:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: "4"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/notifications_id_body'
            examples:
              example:
                value: "{\r\n    \"message\": \"An Updated Notification Message\",\r\n    \"timestamp\": \"2023-11-03T08:00:00.000Z\",\r\n    \"plant_id\": 1\r\n}"
      responses:
        "200":
          description: Patches the notification specified by the notification id ('id'). Needs a User or an Admin authorization token in the 'authorization' header.
  /notifications/plants/{plant_id}:
    get:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      - name: plant_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: "1"
      responses:
        "200":
          description: Retreives a list of notifications for a specified plant by the plant id ('plant_id'). Needs a User or an Admin authorization token in the 'authorization' header.
  /notification-views/:
    get:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      responses:
        "200":
          description: Retreives a list of the notification-views from a user or admin's authentication token defined in the 'authorization' header. Needs a User or an Admin authorization token in the 'authorization' header.
    patch:
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsInVzZXJuYW1lIjoiQWRtaW4xIiwicm9sZSI6IkFkbWluIiwiaWF0IjoxNzAzMDMwODc1LCJleHAiOjE3MDMwMzQ0NzV9.0cZ3fif7VXeLWK53SuYLo2o-HHLCcv8HoeyLKGtM-EA
      responses:
        "200":
          description: "Patches the notification-views table, i.e., sets the notification-views to 'Read', specified by a user or admin's authorization token. Needs a User or an Admin authorization token in the 'authorization' header."
components:
  schemas:
    register_body:
      required:
      - email
      - name
      - password
      - role
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        password:
          type: string
        role:
          type: string
      additionalProperties: false
    login_body:
      required:
      - email
      - password
      type: object
      properties:
        email:
          type: string
        password:
          type: string
      additionalProperties: false
    users_body:
      required:
      - email
      - name
      - password
      - role
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        password:
          type: string
        role:
          type: string
      additionalProperties: false
    users_id_body:
      required:
      - email
      - name
      - password
      - role
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        password:
          type: string
        role:
          type: string
      additionalProperties: false
    notifications_body:
      required:
      - message
      - plant_id
      - timestamp
      type: object
      properties:
        message:
          type: string
        timestamp:
          type: string
        plant_id:
          type: integer
      additionalProperties: false
    plants_body:
      required:
      - harvest_date
      - max_air_quality
      - max_co2
      - max_humidity
      - max_temperature
      - min_air_quality
      - min_co2
      - min_humidity
      - min_temperature
      - name
      type: object
      properties:
        name:
          type: string
        harvest_date:
          type: string
        min_temperature:
          type: string
        max_temperature:
          type: string
        min_humidity:
          type: string
        max_humidity:
          type: string
        min_co2:
          type: string
        max_co2:
          type: string
        min_air_quality:
          type: string
        max_air_quality:
          type: string
      additionalProperties: false
    plants_id_body:
      required:
      - harvest_date
      - max_air_quality
      - max_co2
      - max_humidity
      - max_temperature
      - min_air_quality
      - min_co2
      - min_humidity
      - min_temperature
      - name
      type: object
      properties:
        name:
          type: string
        harvest_date:
          type: string
        min_temperature:
          type: string
        max_temperature:
          type: string
        min_humidity:
          type: string
        max_humidity:
          type: string
        min_co2:
          type: string
        max_co2:
          type: string
        min_air_quality:
          type: string
        max_air_quality:
          type: string
      additionalProperties: false
    notifications_id_body:
      required:
      - message
      - plant_id
      - timestamp
      type: object
      properties:
        message:
          type: string
        timestamp:
          type: string
        plant_id:
          type: integer
      additionalProperties: false
  securitySchemes: {}
